.grid-col-left {
	width: 75%;
}
.grid-col-right {
	width: 25%;
	min-width: 25%;
}
.grid-container-main {
	display: flex;
}
#grid_action {
	left:0 !important;
	height: auto !important;
	border-left: 1px solid #eee;
}

.tab-content {
	padding: 10px;
}
#grid_action a.btn {
	color: #fff !important;
}
#grid_action .nav-tabs {
	background: #eee;
}
.customGridButton {
	width: 16px;
	height: 16px;
	padding: 1px 7px 2px;
}
#grid_action_inner {
	height: calc(100% - 35px);
}
.grid-mass-actions .dropdown {
	display: inline-block;
}
.grid-mass-actions {
	margin-bottom: 10px;
}
.grid-mass-actions a:not([href]):not([tabindex])  {
	color: #fff;
}
.tab-content {
	box-shadow: none;
	-webkit-box-shadow: none;
}
.jsgrid-grid-header, .jsgrid-grid-body
{
	overflow-y: auto;
}
.jsgrid-pager {
	text-align: right;
	padding-right: 20px;
}
#resizable-container {
	width: 100% !important;
}
