.grid-col-left {
	width: 75%;
}
.grid-col-right {
	width: 25%;
	min-width: 25%;
}
.grid-container-main {
	display: flex;
}
#grid_action {
	left:0 !important;
}

.tab-content {
	padding: 10px;
}
#grid_action a.btn {
	color: #fff !important;
}
#grid_action .nav-tabs {
	background: #eee;
}
.customGridButton {
	width: 16px;
	height: 16px;
	padding: 1px 7px 2px;
}
#grid_action_inner {
	height: calc(100% - 35px);
}